<section class="about" id="about">
  <div class="container about-content-container">
    <h2 class="about-title">About the Game</h2>

    <div class="about-content">
      <picture>
        <source
          srcset="
            ../img/about/about-mobile@1x.jpg   1x,
            ../img/about/about-mobile@2x.jpg2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ../img/about/about1280@1x.jpg 1x,
            ../img/about/about1280@2x.jpg 2x
          "
          media="(min-width: 1280px) and (max-width: 1439px)"
        />
        <source
          srcset="
            ../img/about/about1440@1x.jpg 1x,
            ../img/about/about1440@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          width="335"
          class="about-photo"
          src="../img/about/about1280@1x.jpg"
          alt="about"
        />
      </picture>

      <p class="paragraph-about">
        Love Matters: Merge Game Story is a touching and engaging merge puzzle
        game with a romantic narrative twist. Players follow the story of
        several characters navigating heartbreak, relationships, and
        self-discovery while solving merging puzzles to unlock memories, rebuild
        homes, and restore hearts. Through immersive storytelling and elegant
        visuals, Love Matters combines relaxing gameplay with emotional depth.
        It’s more than just a match game – it’s a narrative journey where each
        merge uncovers a fragment of someone’s past or a clue to their future.
        With a diary-style progression, collectible items, and cinematic
        storytelling, the game offers players a unique way to experience
        romantic drama, self-growth, and meaningful choices—all through engaging
        puzzle mechanics.
      </p>
    </div>
  </div>
</section>
