<section class="chapters" id="chapters">
  <div class="container chapters-container">
    <h2 class="chapters-title">Chapters</h2>
    <p class="chapters-subtitle">
      Love Matters is structured into emotional “chapters” instead of
      traditional levels. Each chapter is a stage in a character’s journey - be
      it breakup, healing, rediscovery, or romance.
    </p>
    <h3 class="chapters-title-2">
      The merge board introduces new items in each arc:
    </h3>

    <ul class="chapters-list">
      <li class="chapters-item">
        <picture>
          <source srcset="
              ../img/chapters/chapters-mobile@1x.jpg 1x,
              ../img/chapters/chapters-mobile@2x.jpg 2x
            " media="(max-width: 767px)" />
          <source srcset="
              ../img/chapters/chapters-desk1280@1x.jpg 1x,
              ../img/chapters/chapters-desk1280@2x.jpg 2x
            " media="(min-width: 1280px) and (max-width: 1439px)" />
          <source srcset="
              ../img/chapters/chapters-desk1440@1x.jpg 1x,
              ../img/chapters/chapters-desk1440@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <img width="332" height="335" class="key-features-photo" src="../img/chapters/chapters-desk1280@1x.jpg"
            alt="key-features" />
        </picture>
        <div class="chapters-text-box">
          <h3 class="chapters-head">Chapter 1:</h3>
          <p class="chapters-text">
            The Breakup (merge items like tissues, photo frames, locked phones)
          </p>
        </div>
      </li>

      <li class="chapters-item">
        <picture>
          <source srcset="
              ../img/chapters/chapters2-mobile@1x.jpg 1x,
              ../img/chapters/chapters2-mobile@2x.jpg 2x
            " media="(max-width: 767px)" />
          <source srcset="
              ../img/chapters/chapters2-desk1280@1x.jpg 1x,
              ../img/chapters/chapters2-desk1280@2x.jpg 2x
            " media="(min-width: 1280px) and (max-width: 1439px)" />
          <source srcset="
              ../img/chapters/chapters2-desk1440@1x.jpg 1x,
              ../img/chapters/chapters2-desk1440@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <img width="332" height="335" class="key-features-photo" src="../img/chapters/chapters2-desk1280@1x.jpg"
            alt="key-features" />
        </picture>
        <div class="chapters-text-box">
          <h3 class="chapters-head">Chapter 2:</h3>
          <p class="chapters-text">The Comeback (journals, yoga mats, motivational books)</p>
        </div>
      </li>

      <li class="chapters-item">
        <picture>
          <source srcset="
              ../img/chapters/Rectangle12.png 1x,
              ../img/chapters/chapters3-mobile@2x.jpg 2x
            " media="(max-width: 767px)" />
          <source srcset="
              ../img/chapters/chapters3-desk1280@1x.jpg 1x,
              ../img/chapters/chapters3-desk1280@2x.jpg 2x
            " media="(min-width: 1280px) and (max-width: 1439px)" />
          <source srcset="
              ../img/chapters/chapters3-desk1440@1x.jpg 1x,
              ../img/chapters/chapters3-desk1440@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <img width="332" height="335" class="key-features-photo" src="../img/chapters/chapters3-desk1280@1x.jpg"
            alt="key-features" />
        </picture>
        <div class="chapters-text-box">
          <h3 class="chapters-head">Chapter 3:</h3>
          <p class="chapters-text">The New Spark (candles, date clothes, handwritten letters)</p>
        </div>
      </li>
    </ul>

    <p class="chapters-end">
      The puzzles gradually increase in complexity. You’ll manage board space,
      merge chains, and timed boosters - while unlocking beautiful environments
      and emotional content.
    </p>
  </div>
</section>