<section class="gallery" id="gallery">
  <div class="container gallery-container">

    <div class="wrapper">
      <h2 class="gallery-head">Gallery</h2>

      <div class="image-slider swipeer-container">
        <div class="image-slider_wrapper swiper-wrapper">
          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery-mobile@1x.jpg 1x,
                                  ../img/gallery/gallery-mobile@2x.jpg 2x" media="(max-width: 320px)">
                <source srcset="../img/gallery/gallery-desk1280@1x.jpg 1x,
                                  ../img/gallery/gallery-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery-desk1440@1x.jpg 1x,
                                  ../img/gallery/gallery-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>

          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery2-mobile@1x.jpg 1x,
                                    ../img/gallery/gallery2-mobile@2x.jpg 2x" media="(max-width: 320px)">
                <source srcset="../img/gallery/gallery2-desk1280@1x.jpg 1x,
                                    ../img/gallery/gallery2-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery2-desk1440@1x.jpg 1x,
                                    ../img/gallery/gallery2-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery2-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>

          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery-3-mobile@1x.jpg 1x,
                            ../img/gallery/gallery-3-mobile@2x.jpg 2x" media="(max-width: 320px)">
                <source srcset="../img/gallery/gallery-3-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery-3-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery-3-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery-3-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery-3-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>

          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery4-mobile@1x.jpg 1x,
                              ../img/gallery/gallery4-mobile@2x.jpg 2x" media="(max-width: 767px)">
                <source srcset="../img/gallery/gallery4-desk1280@1x.jpg 1x,
                              ../img/gallery/gallery4-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery4-desk1440@1x.jpg   1x,
                              ../img/gallery/gallery4-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery4-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>


          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery5-mobile@1x.jpg 1x,
                            ../img/gallery/gallery5-mobile@2x.jpg 2x" media="(max-width: 767px)">
                <source srcset="../img/gallery/gallery5-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery5-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery5-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery5-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery5-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>


          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery6-mobile@1x.jpg 1x,
                              ../img/gallery/gallery6-mobile@2x.jpg 2x" media="(max-width: 767px)">
                <source srcset="../img/gallery/gallery6-desk1280@1x.jpg 1x,
                              ../img/gallery/gallery6-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery6-desk1440@1x.jpg 1x,
                              ../img/gallery/gallery6-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery6-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>

          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery7-mobile@1x.jpg 1x,
                              ../img/gallery/gallery7-mobile@2x.jpg 2x" media="(max-width: 767px)">
                <source srcset="../img/gallery/gallery7-desk1280@1x.jpg 1x,
                              ../img/gallery/gallery7-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery7-desk1440@1x.jpg 1x,
                              ../img/gallery/gallery7-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery7-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>


          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery8-mobile@1x.jpg 1x,
                                        ../img/gallery/gallery8-mobile@2x.jpg 2x" media="(max-width: 767px)">
                <source srcset="../img/gallery/gallery8-desk1280@1x.jpg 1x,
                                        ../img/gallery/gallery8-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery8-desk1440@1x.jpg 1x,
                                        ../img/gallery/gallery8-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery8-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>

          <div class="image-slider_slide swiper-slide">
            <div class="image-slider_image">
              <picture>
                <source srcset="../img/gallery/gallery9-mobile@1x.jpg 1x,
                              ../img/gallery/gallery9-mobile@2x.jpg 2x" media="(max-width: 767px)">
                <source srcset="../img/gallery/gallery9-desk1280@1x.jpg 1x,
                              ../img/gallery/gallery9-desk1280@2x.jpg 2x"
                  media="(min-width: 1280px) and (max-width: 1439px)">
                <source srcset="../img/gallery/gallery9-desk1440@1x.jpg 1x,
                              ../img/gallery/gallery9-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
                <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery9-desk1280@1x.jpg"
                  alt="gallery-photo" />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>