<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-head">Gallery</h2>


    <div class="swiper gallery-swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <picture>
            <source srcset="../img/gallery/gallery-mobile@1x.jpg 1x,
                            ../img/gallery/gallery-mobile@2x.jpg 2x" media="(max-width: 320px)">
            <source srcset="../img/gallery/gallery-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery-desk1280@2x.jpg 2x"
              media="(min-width: 1280px) and (max-width: 1439px)">
            <source srcset="../img/gallery/gallery-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
            <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery-desk1280@1x.jpg"
              alt="gallery-photo" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="../img/gallery/gallery-2-mobile@1x.jpg 1x,
                            ../img/gallery/gallery-2-mobile@2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="../img/gallery/gallery-2-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery-2-desk1280@2x.jpg 2x"
              media="(min-width: 1280px) and (max-width: 1439px)">
            <source srcset="../img/gallery/gallery-2-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery-2-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
            <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery-2-desk1280@1x.jpg"
              alt="gallery-photo" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="../img/gallery/gallery-3-mobile@1x.jpg 1x,
                            ../img/gallery/gallery-3-mobile@2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="../img/gallery/gallery-3-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery-3-desk1280@2x.jpg 2x"
              media="(min-width: 1280px) and (max-width: 1439px)">
            <source srcset="../img/gallery/gallery-3-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery-3-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
            <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery-3-desk1280@1x.jpg"
              alt="gallery-photo" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="../img/gallery/gallery4-mobile@1x.jpg 1x,
                            ../img/gallery/gallery4-mobile@2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="../img/gallery/gallery4-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery4-desk1280@2x.jpg 2x"
              media="(min-width: 1280px) and (max-width: 1439px)">
            <source srcset="../img/gallery/gallery4-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery4-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
            <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery4-desk1280@1x.jpg"
              alt="gallery-photo" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="../img/gallery/gallery5-mobile@1x.jpg 1x,
                            ../img/gallery/gallery5-mobile@2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="../img/gallery/gallery5-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery5-desk1280@2x.jpg 2x"
              media="(min-width: 1280px) and (max-width: 1439px)">
            <source srcset="../img/gallery/gallery5-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery5-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
            <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery5-desk1280@1x.jpg"
              alt="gallery-photo" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="../img/gallery/gallery6-mobile@1x.jpg 1x,
                            ../img/gallery/gallery6-mobile@2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="../img/gallery/gallery6-desk1280@1x.jpg 1x,
                            ../img/gallery/gallery6-desk1280@2x.jpg 2x"
              media="(min-width: 1280px) and (max-width: 1439px)">
            <source srcset="../img/gallery/gallery6-desk1440@1x.jpg 1x,
                            ../img/gallery/gallery6-desk1440@2x.jpg 2x" media="(min-width: 1440px)">
            <img width="332" height="335" class="gallery-photo" src="../img/gallery/gallery6-desk1280@1x.jpg"
              alt="gallery-photo" />
          </picture>
        </div>

      </div>

      <div class="swiper-pagination">
        <button class="swiper-button-next" aria-label="Next slide">
          <svg class="icon-swiper-right" aria-hidden="true" width="40" height="40">
            <use href="../img/icons/right-bold.svg"></use>
          </svg>
        </button>

        <button class="swiper-button-prev" aria-label="Previous slide">
          <svg class="icon-swiper-left" aria-hidden="true" width="40" height="40">
            <use href="../img/icons/left-bold.svg"></use>
          </svg>
        </button>
      </div>

    </div>
  </div>
</section>