<header class="header">
  <div class="container header-container">
    <picture>
      <source
        srcset="
          ../img/header/game-logo@1x.jpg 1x,
          ../img/header/game-logo@2x.jpg 2x
        "
        media="min-width:768px"
      />
      <source
        srcset="
          ../img/header/game-logo@1x.jpg 1x,
          ../img/header/game-logo@2x.jpg 2x
        "
        media="max-width: 767px"
      />
      <img
        src="../img/header/game-logo@1x.jpg"
        alt="game logo"
        class="game-logo"
      />
    </picture>
    <h2 class="header-heading-mobile">Love Matters</h2>
    <nav class="navigation-site">
      <ul class="list-navigation">
        <li class="item-navigation">
          <a href="" class="link-navigation">Home</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">About Game</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">Features</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">How to Play</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">Chapters</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">Gallery</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">Download</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">FAQ</a>
        </li>
        <li class="item-navigation">
          <a href="" class="link-navigation">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="burger-button">
      <svg class="icon-burger" width="56" height="56">
        <use href="../img/icons/menu-burger.svg"></use>
      </svg>
    </button>
    <div class="menu"></div>
  </div>
</header>
