<section class="how-to-play" id="how-to-play">
  <div class="container how-to-play-container">
    <picture>
      <source
        srcset="../img/icons/pussle-desktop.svg"
        media="(min-width: 1200px)"
      />
      <img
        src="../img/icons/pussle-mobile.svg"
        alt="pussle img"
        class="pussle htp-pussle"
      />
    </picture>
    <h2 class="how-to-play-title">How to Play</h2>
    <h3 class="how-to-play-2">Step-by-Step:</h3>

    <div class="how-to-play-content">
      <ul class="how-to-play-list">
        <li class="how-to-play-item">
          1. Merge three identical items to create the next level.
        </li>
        <li class="how-to-play-item">
          2. Complete merge requests tied to story goals.
        </li>
        <li class="how-to-play-item">
          3. Collect keys and special items to unlock the next chapter.
        </li>
      </ul>
      <ul class="how-to-play-list how-to-play-list-second">
        <li class="how-to-play-item">
          4. Decorate story environments and help characters progress
          emotionally.
        </li>
        <li class="how-to-play-item">
          5. Watch cutscenes and make occasional choices that affect how the
          story unfolds.
        </li>
      </ul>
    </div>
  </div>
</section>
