<section class="key-features" id="key-features">
  <div class="container key-features-container">
    <h2 class="key-features-title">Features</h2>

    <div class="key-features-content">
      <picture>
        <source srcset="
            ../img/key-features/features-mobile@1x.jpg 1x,
            ../img/key-features/features-mobile@2x.jpg 2x
          " media="(max-width: 767px)" />
        <source srcset="
            ../img/key-features/features-desk1280@1x.jpg 1x,
            ../img/key-features/features-desk1280@2x.jpg 2x
          " media="(min-width: 1280px) and (max-width: 1439px)" />
        <source srcset="
            ../img/key-features/features-desk1440@1x.jpg 1x,
            ../img/key-features/features-desk1440@2x.jpg 2x
          " media="(min-width: 1440px)" />
        <img width="332" height="335" class="key-features-photo" src="../img/key-features/features-desk1280@1x.jpg"
          alt="key-features" />
      </picture>


      <ul class="key-features-list">
        <li class="key-features-item">
          <svg class="icon" width="24" height="24">
            <use href="../img/icons/puzzle.svg"></use>
          </svg>
          <p class="key-features-paragraph">
            Narrative Merge Gameplay: Solve merge puzzles to unlock story content
            and choices
          </p>
        </li>

        <li class="key-features-item">
          <svg class="icon" width="24" height="24">
            <use href="../img/icons/red-heart.svg"></use>
          </svg>
          <p class="key-features-paragraph">
            Emotional Storylines: Dive into dramatic love stories filled with
            twists, secrets, and resolutions.
          </p>
        </li>

        <li class="key-features-item">
          <svg class="icon" width="24" height="24">
            <use href="../img/icons/house.svg"></use>
          </svg>
          <p class="key-features-paragraph">
            Rebuild and Restore: Help characters renovate homes, cafes, gardens,
            and more by completing merge tasks.
          </p>
        </li>

        <li class="key-features-item">
          <svg class="icon" width="24" height="24">
            <use href="../img/icons/artist-palette.svg"></use>
          </svg>
          <p class="key-features-paragraph">
            Hand-Painted Visuals: Stunning art and soft pastel aesthetics that
            evoke warmth and nostalgia.
          </p>
        </li>

        <li class="key-features-item">
          <svg class="icon" width="24" height="24">
            <use href="../img/icons/sound.svg"></use>
          </svg>
          <p class="key-features-paragraph">
            Original Soundtrack: Gentle piano melodies and emotional cues bring
            the story to life.
          </p>
        </li>

        <li class="key-features-item">
          <svg class="icon" width="24" height="24">
            <use href="../img/icons/books.svg"></use>
          </svg>
          <p class="key-features-paragraph">
            Progressive Chapters: Unlock new story arcs as you merge items and
            advance.
          </p>
        </li>

        <li class="key-features-item">
          <svg class="icon" width="24" height="24">
            <use href="../img/icons/update.svg"></use>
          </svg>
          <p class="key-features-paragraph">
            Frequent Updates: New love stories and merge maps are added regularly.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>