.gallery-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
.wrapper{
  padding: 30px;
  min-height: 100%;
}

.image-slider{
  padding: 24px 0 96px 0;
}

.image-slider_image{
  text-align: center;
}

.image-slider_image img{
  max-width: 100%;
}

.gallery-head {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}


 .swiper-button-next::after,
.swiper-button-prev::after {
  color: #24274B;
  font-size: 16px;
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: none;
  border: none;
  cursor: pointer; */
}



@media (min-width: 1200px) {
  .gallery-head {
    margin-bottom: 16px;
  }


  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }


}