.how-to-play-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
 border-radius: 24px;
  margin: 0 auto;
   padding: 40px; 
   box-sizing: border-box;
}

.how-to-play-content {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  flex-direction: column; 
  gap: 24px;           
}

.how-to-play-title {
 font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #24274B;
    width: 100%;
  margin: 0;
}

.how-to-play-2 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
 color: #24274B;
  margin: 0;
    line-height: 1.2;
    width: 100%;
}

.how-to-play-item{
    font-weight: 400;
font-size: 18px;
line-height: 1.55556;
color: var(--text-color);
}

.how-to-play-list, 
.how-to-play-list-2 {
  display: flex;
  flex-direction: column; 
  gap: 12px;
  flex: 1;
}

@media (min-width: 1200px) {
  .how-to-play-container {
    padding: 24px 16px; 
  }

  .how-to-play-content {
    flex-direction: row;  
    gap: 20px;
    align-items: stretch;    
  }

  .how-to-play-list,
  .how-to-play-list-2 {
    gap: 8px;     
  }

}